*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family:Arial, Helvetica, sans-serif;

}

.first, .second{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second{
    border-top: 2px solid black;
}

.toolbar{
    height: 400px;
    width: 300px;
    margin-left: -360px;
    margin-right: 55px;
    border-radius: 5px;
    border: 2px solid black;
}

.color-selector{
    width: 300px;
    height: 200px;
}

.delete-options{
    height: 200px;
    width: 300px;
    display: flex; 
}

.eraser, .clear{
    padding-top: 40px;
    padding-left: 50px;
    width: 150px;
    border: 1px solid black;
    border-bottom: 0px;
}

.eraser{
    border-left: 0px;
}

.clear{
    border-right: 0px;
}

.eraser-first, .clear-first{
    margin-right: 45px;
    text-align: center;
}

.eraser-btn, .clear-btn{
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 10px 20px;
    font-size: 16px;
    width: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
}

.color-selector{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.color-first{
    padding-bottom: 20px;
}

#current-color{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

#pop-up{
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
}

#container {
    margin-top: 50px;
    border: 2px solid black;
    width: 800px;
    height: 800px;
    display:flex;
    flex-wrap: wrap;
}

.item {
    box-sizing: border-box;
    border: 1px solid #000;
  }